{% extends "base.html" %}
{% block MAIN_CONTENT %}
    <button><a href="{% url "references:author-list" %}"> ⭠ Назад к списку авторов</a></button>
    <hr>
    <h1 class="mt-5">ОБ АВТОРЕ</h1>
    <ul>
        <li><b>id</b>: {{object.id}}</li><br>
        <li><b>имя</b>: {{object.name}}</li><br>
        <li><b>описание</b>: {{object.description}}</li><br>
        <li><b>серия</b>: <a href="{% url "references:series-detail" object.series.id %}" class="no_buton_link">{{object.series.name}}</a></li>
    </ul>
    {% if  perms.refs.change_author %}
    <button><a href="{% url "references:author-update" object.id %}">Редактировать</a></button>
    {% endif %}
    {% if  perms.refs.delete_author %}
    <button><a href="{% url "references:author-delete" object.id %}">Удалить</a></button>
    {% endif %}
{% endblock MAIN_CONTENT %}
