{% extends "base.html" %}
{% block MAIN_CONTENT %}
<a href="{% url "goods:book-create" %}"><button class="btn btn-warning">Добавить книгу</button></a><br>

<table class="table table-hover" border="1">
    <tr>
        <th>Обложка</th>
        <th>ID</th>
        <th>Название</th>
        <th>Автор</th>
        <th>Жанр</th>
        <th>Цена</th>
        <th colspan="3">Действия</th>
    </tr>
    {% for obj in object_list %}
    <tr>
        <td><img src="{{obj.cover.url}}" width=70px></td>
        <td>{{obj.id}}</td>
        <td>{{obj.title}}</td>
        <td>{{obj.author}}</td>
        <td>
            {% for gen in obj.genre.values%}
            <ul>
                <li>{{gen.name}}</li>
            </ul>
            {% endfor %}
        </td>
        <td>{{obj.price}} BYN</td>
        <td class="link">
            <a href="{% url "goods:book-detail" obj.id %}"><button class="btn btn-success"><i class="bi bi-eye"></i></button></a>
        </td>
        <td class="link">
            <a href="{% url "goods:book-update" obj.id %}"><button class="btn btn-warning"><i class="bi bi-pencil-square"></i></button></a>
        </td>
        <td class="link">
            <a href="{% url "goods:book-delete" obj.id %}"><button class="btn btn-danger"><i class="bi bi-trash"></i></button></a>
        </td>
    </tr>
    {% endfor %}
</table>
<div class="container_text-center">
    {% for obj in object_list %}
    <div class="cg">
        <div class="card">
            <div class="img-container">
                <img src="{{obj.cover.url}}" class="card-img-top" alt="...">
            </div>
          <div class="card-body">
            <h5 class="card-title">{{obj.title}}</h5>
            <p class="card-text">
                {% if object.description %}
                {{object.description}}
            {% else %}
                Нет описания.
            {% endif %}
            </p>
          </div>
          <div class="card-footer">
            <a href="{% url "goods:book-detail" obj.id %}"><button class="btn btn-outline-success" type="submit">Подробнее</button></a>
            <button class="btn btn-outline-success" type="submit"><i class="bi bi-cart4"></i></button>
            {{obj.price}} BYN
          </div>
        </div>
      </div>
    {% endfor %}
</div>
{% endblock MAIN_CONTENT %}
