{% extends "base.html" %}
{% block MAIN_CONTENT %}
<div class="container_text-center">
    {% for obj in object_list %}
    <div class="cg">
        <div class="card">
            <div class="img-container">
                <img src="{{obj.cover.url}}" class="card-img-top" alt="...">
            </div>
          <div class="card-body">
            <h5 class="card-title">{{obj.title}}</h5>
            <p class="card-text">
                {% if obj.description %}
                {{obj.description}}
            {% else %}
                Нет описания.
            {% endif %}
            </p>
          </div>
          <div class="card-footer">
            <a href="{% url "goods:book-detail" obj.id %}"><button class="btn btn-outline-success" type="submit">Подробнее</button></a>
            <form action="{% url "orders:add-item-to-cart" %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="item_id" value="{{obj.id}}">
              <button class="btn btn-outline-success" type="submit" name="quantity" value=1><i class="bi bi-cart4"></i></button>
            </form>
            
            {{obj.price}} BYN
          </div>
        </div>
      </div>
    {% endfor %}
</div>
{% endblock MAIN_CONTENT %}